pandas==2.3.0
numpy==2.2.6
requests==2.32.3
scikit-learn==1.6.1
streamlit==1.45.1
folium==0.19.6
streamlit-folium==0.25.0
plotly==6.1.2

black==25.1.0
pytest==8.3.5
python-dotenv==1.0.0

geopy
annotated-doc
annotated-types
anyio
fastapi
h11 
pydantic 
pydantic-core
starlette
typing-inspection
uvicorn
slowapi
